#musicSliderContainer {
	margin-left: 7px;
	margin-right: 7px;
}

.gray {
	background-color: #CCC;
}

.musicTable tbody tr {
	cursor: pointer;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}